{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td> {{ transaction.symbo0 }} </td>
                    <td> {{ transaction.shares }} </td>
                    <td> {{ transaction.stock_price }} </td>
                    <td> {{ transaction.date }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
